<div class="hero-unit">
    <h1>欢迎来到 张孟康的微博网站</h1>
    <p>
         Micro个log 是一个基于Node.js的微博系统。
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登陆</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>