<div class="row">
 <% if(posts && maxshowcount)
 {          for(var i = 0; i < maxshowcount; i++){ %>
  <%-include ./controls/info.ejs%>

 <% } } %>

 <!--<div class="span4">--><!--<h2>Carbo 说</h2>--><!--<p>hahdfadoasfonadsifn到那到时大师傅撒旦但是发射点发射点 </p>--><!--</div>--><!--<div class="span4">--><!--<h2>Carbo 说</h2>--><!--<p>hahdfadoasfonadsifn到那到时大师傅撒旦但是发射点发射点 </p>--><!--</div>-->
</div>
